<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
 
<p class="for_info_only"><i>
    Оригінальні Cowsays написані мовою програмування Perl,
    і тому легко адаптуються до системних завдань у Unix.
    Вони можуть виконувати такі функції, як повідомлення користувачам про те, що їхні домашні каталоги переповнені,
    що вони отримали нову пошту тощо. Тепер ви напишете власну реалізацію цієї класичної програми для Unix.
    Ця концепція може навчити вас готувати і форматувати текст для виведення на консоль.
</i></p>

<p>
    Наша корова молода і може сказати лише деякі слова, яких ми її навчили.
    Мало того, що вона розмовляє, вона ще й може перетворитися на славнозвісного Тукса
    (<a target="_blank" href="http://en.wikipedia.org/wiki/Cowsay">wiki/Cowsay</a>), якщо ми її гарненько попросимо.
</p>

<div>
    Вам дається деякий текст, і ваша функція полягає в тому, щоб відформатувати його у "коров'ячу" мову.
    Давайте розглянемо правила для цієї задачі:
    <ul class="rules">
        <li>
            Корова завжди однакова, змінюються лише лапки.
        </li>
        <li>
            Кілька пробілів підряд замінюються одним пробілом.
        </li>
        <li>
            Верхня межа складається з символів підкреслення. Вона починається з одного пробілу і закінчується перед стовпчиком межі.
        </li>
        <li>
            Кожен рядок цитати складається з таких частин: межа цитати(1), пробіл(1), рядок(1-39), пробіл(1), межа цитати(1).
        </li>
        <li>
            Якщо рядок не перевищує 40 символів, він поміщається в один рядок. Рядок береться в лапки через <strong>&lt;&gt;.</strong>
        </li>
        <li>
            Якщо рядок більше або дорівнює 40 символів, його слід розбити за цими правилами:
            <ul>
                <li>
                    Максимальний розмір рядка - 39 символів. Якщо в рядку є пробіли,
                    розділіть його по крайньому правому пробілу (цей пробіл видаляється з тексту), інакше візьміть перші 39 символів.
                </li>
                <li>
                    Після розділення вирівняйте всі рядки до однакової довжини, додавши пробіли в кінці кожного рядка.
                </li>
                <li>
                    Межі першого рядка: <strong>/\</strong>
                </li>
                <li>
                    Межі середнього рядка: <strong>||</strong>
                </li>
                <li>
                    Межі останнього рядка: <strong>\/</strong>
                </li>
            </ul>
        </li>
        <li>
            Нижня межа складається зі знаку мінус. Має таку ж довжину, як і верхня.
        </li>
        <li>консольна програма cowsay має дивну поведінку у певних випадках, ці випадки тут не розглядаються.</li>
    </ul>
</div>

<div>
    <pre>
     _________________________________
    / Dog goes woof                   \
    | Cat goes meow                   |
    | Bird goes tweet                 |
    | And mouse goes squeek           |
    | Cow goes moo                    |
    | Duck goes quack                 |
    \ And the solution will go to you /
     ---------------------------------
            \   ^__^
             \  (oo)\_______
                (__)\       )\/\
                    ||----w |
                    ||     ||
    </pre>
</div>
<p>
   <strong>Вхідні дані:</strong> Текст у вигляді рядка <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Виведення:</strong> Результат для консолі у вигляді рядка <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>
    <pre class="brush: python">
cowsay('Checkio rulezz') == r'''
 ________________
< Checkio rulezz>
 ----------------
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||
'''
cowsay('A longtextwithonlyonespacetofittwolines.') == r'''
 ________________________________________
/ A                                      \
\ longtextwithonlyonespacetofittwolines. /
 ----------------------------------------
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||
'''

cowsay('Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.') == r'''
 _________________________________________
/ Lorem ipsum dolor sit amet, consectetur \
| adipisicing elit, sed do eiusmod tempor |
| incididunt ut labore et dolore magna    |
\ aliqua.                                 /
 -----------------------------------------
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||
'''</pre>
</div>



<p>
   <strong>Передумова:</strong>
    0 &lt; len(text) &lt; 858;<br>
   <strong>текст</strong> містить принаймні останній не пробіл;<br>
   <strong>текст</strong> містить лише літери, цифри та знаки пунктуації у кодуванні ASCII.
</p>
